body {
  font-size: 16px;
  font-family: sans-serif, Times, serif;
  margin: 0;
}

h1{
  font-size: 3.8em;
}

h2{
  font-weight:normal;
}

h3{
  letter-spacing: 2px;
}

h4{
  font-size: 2.4em;
  padding: 10px;
}

p{
  padding-top: 5px;
  padding-bottom: 5px;
}

button:hover{
  cursor: pointer;
}

.main{
  background-image: url("../pictures/main-background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0px;
  height: 719px;
}

.nav{
  margin: auto;
  width: 65%;
  padding: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-top: 15px;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: inline;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: white;
}

#logo{
  float: left;
}

#menu-icon {
	display: hidden;
	width: 40px;
	height: 40px;
	background: url("../pictures/menu-icon.png");
  background-repeat: no-repeat;
}

#mobile-menu{
  width: 100%;
  display: none;
  background-color: rgba(34,34,34, 0.9);
  margin-top: 50px;
  padding-top: 70px;
  position: absolute;
  top: 0;
  left: 0;
}

#mobile-menu .menu-item{
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 20px;
  color: rgb(204,204,204);

}

#mobile-menu p{
  margin-top: 100px;
  letter-spacing: 2px;
  color: rgb(102,102,102);
  display: inline-block;
  margin-right: 550px;
}

.center-text {
    padding-top: 100px;
    max-width:550px;
    margin:auto;
}

.center-text-wide {
    padding-top: 100px;
    max-width:850px;
    margin:auto;
}

.container{
  width: 100%;
  display: flex;
}

.box{
  flex: 1;
  margin: 0;
  padding: 80px 50px 80px 50px;
}

.gray{
  background-color: rgb(237,237,237);
}

.dash2{
  padding: 15px
}

.upper-head{
  letter-spacing: 2px;
  color: rgb(153,153,153);
  font-weight:strong;
  text-align: center;
}

.under-head{
  letter-spacing: 2px;
  text-align: center;
  font-size: 1.4em;
  padding: 15px;
}

.job-offer{
  max-width: 850px;
  margin: auto;
  display: flex;
  padding-top: 30px;
  padding-bottom: 50px;
}

.description-left{
  flex: 2;
}

.description-right{
  flex: 1;
  margin: auto;
}

.job{
  color: red;
  padding: 5px 10px 5px 10px;
  border: 1px solid rgb(153,153,153);
  display: inline;
}

.job-w{
  color: white;
  padding: 5px 10px 5px 10px;
  border: 1px solid rgb(153,153,153);
  display: inline;
}

.btn-b{
  padding: 10px 25px 10px 25px;
  color: black;
  border: 2px solid black;
  border-radius: 1px;
  background-color: white;
}

.btn-w{
  padding: 10px 25px 10px 25px;
  color: white;
  border: 2px solid white;
  border-radius: 1px;
  background-color: black;
}

.black{
  color: white;
  background-color: black;
}

.dark{
  background-color: rgb(34,34,34);
  margin: 0;
}

.centralize{
  display: block;
  margin: 50px auto;
  text-align: center;
}

#load{
  padding: 10px;
  background-color: rgb(215,215,215);
  border: 0px;
}

#bottom{
  padding-top: 150px;
}

.footer-a{
  max-width: 1000px;
  display: flex;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
}


.footer-b{
  background-color: rgb(30,30,30);
  margin: 0;
}

.location{
  flex: 1;
  padding-left: 20px;
}

.pin{
  display: inline;
}

.foot-head{
  display: inline;
  color: white;
  padding: 5px;
}

.foot-text{
  color: rgb(102,102,102);
  line-height: 30%;
}

.foot-b-text{
  font-size: 0.8em;
  color: rgb(102,102,102);
  display: inline-block;
  padding: 5px;
  margin-right: 150px;
}

.info{
  max-width: 1000px;
  margin: auto;
}

.mini-pic{
  padding-right: 10px;
}

@media (max-width:1025px) {
  .main{
    background-image: url("../pictures/main-background-tablet.png");
    height: 487px;
  }

  #mobile-menu{
    height: 387px;
  }

  #menu-icon {
		display:inline-block;
    float: right;
	}

  .nav ul, .nav:active ul {
		display: none;
		position: absolute;
		padding: 20px;
		background: #fff;
		border: 5px solid #444;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;
	}

  .location{
    padding-left: 40px;
  }

  .description-left{
    padding-left: 40px;
  }

  .description-right{
    float: right;
    padding-right: 40px;
  }

  .foot-b-text{
    margin-left: 40px;
    margin-right: 100px;
  }
 }

 @media (max-width:960px) {
   .center-text-wide {
       max-width:750px;
   }

   .location{
     padding-left: 20px;
   }

   #mobile-menu p{
     margin-right: 400px;
   }

   .foot-b-text{
     margin-left: 40px;
     margin-right: 50px;
   }
  }

  @media (max-width:750px) {
    .footer-a{
      display: block;
    }
  }

 @media (max-width:760px) {
   .footer-a{
     display: block;
   }

   .center-text {
       padding-top: 0;
   }

   .center-text-wide {
       max-width:550px;
   }

   #mobile-menu p{
     margin-right: 280px;
   }

   .foot-b-text{
     margin-left: 20px;
     margin-right: 20px;
   }
  }

  @media (max-width:640px) {
    .description-right {
    display: none;
    }

    .container{
      display: block;
    }

    .space{
      padding-left: 20px;
    }
   }

  @media (max-width:480px) {
    .center-text-wide {
        max-width:400px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .nav{
      width: 100%;
    }

    #mobile-menu p{
      margin-right: 80px;
    }
   }

 @media (max-width:320px) {
   .main{
     background-image: url("../pictures/main-background-mobile.png");
     height: 557px;
   }

   #mobile-menu{
     height: 467px;
   }

   #mobile-menu p{
     margin-right: 20px;
   }

   .center-text-wide {
       max-width:280px;
   }
  }
